<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>猫狗图片识别模型</title>
    <script>
      function showProcessingMessage() {
        document.getElementById("processing-message").style.display = "block";
      }
    </script>
  </head>
  <body>
    <h1>上传图片</h1>
    <form action="/predict" method="POST" enctype="multipart/form-data" onsubmit="showProcessingMessage()">
      <input type="file" name="file"><br><br>
      <input type="submit" value="提交">
    </form>
    <br>
    <div id="processing-message" style="display: none;">
      <p>Processing...</p>
    </div>

  </body>
</html>